<div class="login-page">
    <div class="login-wrapper">
        <!--LOGO -------------->
        <div class="header">
            <svg xmlns="http://www.w3.org/2000/svg" width="148" height="45" viewBox="0 0 148 45">
                <text id="myPortal" transform="translate(0 34)" fill="#000" font-size="32" font-family="Poppins-Light, Poppins" font-weight="300"><tspan x="0" y="0">m</tspan><tspan y="0" letter-spacing="0.059em">y</tspan><tspan y="0" font-family="Poppins-Medium, Poppins" font-weight="500" letter-spacing="0.059em">P</tspan><tspan y="0" font-family="Poppins-Medium, Poppins" font-weight="500">ortal</tspan></text>
              </svg>
        </div>
        <!--END LOGO ---------->
        <!--LOGIN FORM -------->
        <form class="login-form" 
        [formGroup]="loginForm"
        (ngSubmit)="login(loginForm.value)">
            <h1 class="title">Login</h1>
            <div class="form-group">
                <input id="username" type="text" formControlName="username" class="form-control" required autofocus placeholder="Username"/>
            </div>
            <div class="form-group">
                <input type="password" formControlName="password" class="form-control" required placeholder="Password"/>
            </div>
            <div class="form-group text-center">
                <a routerLink="/account/forgot-password">Forgot password?</a>
            </div>
            <div class="btn_wrapper">
                <input type="submit" value="Login" class="btn btn-primary d-block" [disabled]="loginForm.invalid"/>
            </div>
        </form>
        <!--END LOGIN FORM -------->
    </div>
</div>

<!-- <h2>Log in</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            <form #loginForm="ngForm" class="form-horizontal" role="form" (ngSubmit)="login()" autocomplete="off">          
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">Username</label>
                    <div class="col-md-10">
                        <input 
                        [(ngModel)]="model.username"
                        id="username" 
                        type="text" 
                        class="form-control" 
                        name="username" 
                        placeholder="Username"/>                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        <input 
                        [(ngModel)]="model.password"
                        id="password" 
                        type="password" 
                        class="form-control" 
                        name="password" 
                        placeholder="Password"/>
                        
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <a routerLink="/account/forgot-password">Forgot password?</a>
                    </div>
                </div>
            </form> 
        </section>
    </div>
</div> -->