<mat-divider></mat-divider>
<!-- <footer>     
       <a href="http://www.gov.za/">
        <div class="profile-card float-left">
            <img src="assets/images/logo-f.png" alt="logo">
           </div> 
      </a>
      <div class="">
             &copy; All rights reserved 2020 
       </div>
       <a href="https://westerncape.gov.za/">        
       <div class="profile-card float-right">
        <img src="assets/images/logo-c.png" alt="logo">
       </div>
    </a> 
</footer>  -->

<footer>
    <table width="100%">
        <tr>
            <td align="right" valign="middle">
                <a href="http://www.gov.za/">
                    <div class="float-left">
                        <img src="assets/images/logo-f.png" alt="logo">
                       </div> 
                  </a>
            </td>
            <td class="text-center">
                <span>Western&nbsp;Cape&nbsp;Government&nbsp;&copy;&nbsp;</span><br class="hidden-lg" />
                <span>All&nbsp;rights&nbsp;reserved.</span>
            </td>
            <td align="left" valign="middle">
                <a href="https://westerncape.gov.za/">        
                    <div class="float-right">
                     <img src="assets/images/logo-c.png" alt="logo">
                    </div>
                 </a>
            </td>
        </tr>
    </table>
</footer>